TEMP/
__pycache__/
docs/
images/
.ipynb_checkpoints/
data/.ipynb_checkpoints/
data/lyrics_within_temptation_2020-02-16.csv
data/lyrics_evanescence_2020-02-16.csv
data/info_tracks_within_temptation_with_duplicates_2020-02-16.csv
data/info_tracks_within_temptation_without_duplicates_2020-02-16.csv
data/info_tracks_evanescence_with_duplicates_2020-02-16.csv
data/info_tracks_evanescence_without_duplicates_2020-02-16.csv
data/info_within_temptation_albums_2020-02-16.csv
data/info_Evanescence_albums_2020-02-16.csv
data/info_tracks_evanescence_2020-02-16.csv
02-retrieve_playlist_tracks_audio_features_for_categories.ipynb
requirements.ipynb
requirements_COMPLETE.ipynb
requirements_COMPLETE.txt
test.ipynb
private.py
genius_credentials.py
notebook_03_some_NLP-Evanescence_Within_Temptation-Copy1.ipynb
notebook_03_some_NLP-Evanescence_Within_Temptation-Copy2.ipynb
notebook_04_real_time_Twitter_sentiment_analysis.ipynb
NLP.ipynb